<!doctype html>
<html lang="en" ng-app="app">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <meta charset="utf-8">
    <title>Chord Theory</title>
</head>

<body>

    <div class="container-fluid" ng-controller="ChordTheory" ng-cloak>
        <h1 class="display-4">Chord Theory</h1>
        <hr />
        <p class="lead">
            Select a key, see diatonic chords and common non-diatonic substitutions. -
            <a href="https://twitter.com/jstrassburg" target="_blank">
                <span class="ion-social-twitter"></span>
            </a> |
            <a href="https://github.com/jstrassburg/chord-theory" target="_blank">
                <span class="ion-social-github"></span>
            </a>
        </p>

        <div class="container-fluid text-center">
            <button class="btn btn-outline-primary" type="button" btn-radio="0" ng-click="updateKey(0)">A</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="1" ng-click="updateKey(1)">Bb</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="2" ng-click="updateKey(2)">B</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="3" ng-click="updateKey(3)" autofocus="autofocus">C</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="4" ng-click="updateKey(4)">Db</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="5" ng-click="updateKey(5)">D</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="6" ng-click="updateKey(6)">Eb</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="7" ng-click="updateKey(7)">E</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="8" ng-click="updateKey(8)">F</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="9" ng-click="updateKey(9)">F#/Gb</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="10" ng-click="updateKey(10)">G</button>
            <button class="btn btn-outline-primary" type="button" btn-radio="11" ng-click="updateKey(11)">Ab</button>
        </div>

        <hr/>
        <p class="lead text-center">Selected key: {{ allKeys[keyIndex] }}</p>

        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th class="border-info">*Major Key*</th>
                    <th>I</th>
                    <th>II</th>
                    <th>III</th>
                    <th>IV</th>
                    <th>V</th>
                    <th>VI</th>
                    <th>VII</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Diatonic Chords
                        <a href="https://en.wikipedia.org/wiki/Diatonic_and_chromatic" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in majorScale(0)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Parallel Minor
                        <a href="https://en.wikipedia.org/wiki/Parallel_key" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in majorScale(5)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Tritone Substitutions
                        <a href="https://en.wikipedia.org/wiki/Tritone_substitution" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in tritoneSubstitutions()">{{chord}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>V of II (VI7)</th>
                    <th>V of III (VII7)</th>
                    <th>V of IV (I7)</th>
                    <th>V of V (II7)</th>
                    <th>V of VI (III7)</th>
                </tr>
                <tr>
                    <th>Secondary Dominants
                        <a href="https://en.wikipedia.org/wiki/Secondary_chords#Dominant" target="_default">(*)</a>
                    </th>
                    <td/>
                    <td ng-repeat="chord in secondaryDominants()">{{chord}}</td>
                </tr>
                <tr>
                    <th>Augmented Sixth
                        <a href="https://en.wikipedia.org/wiki/Augmented_sixth_chord" target="_default">(*)</a>
                    </th>
                    <td>{{augSixth()}}</td>
                </tr>
                <tr>
                    <th>Neapolitan Sixth
                        <a href="https://en.wikipedia.org/wiki/Neapolitan_chord" target="_default">(*)</a>
                    </th>
                    <td>{{neapolitanSixth()}}</td>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th class="border-info">*Minor Keys*</th>
                    <th>I</th>
                    <th>II</th>
                    <th>III</th>
                    <th>IV</th>
                    <th>V</th>
                    <th>VI</th>
                    <th>VII</th>
                </tr>
                <tr>
                    <th>Natural Minor
                        <a href="https://en.wikipedia.org/wiki/Minor_scale#Natural_minor_scale" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in majorScale(5)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Harmonic Minor
                        <a href="https://en.wikipedia.org/wiki/Minor_scale#Harmonic_minor_scale" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in harmonicMinorScale()">{{chord}}</td>
                </tr>
                <tr>
                    <th>Melodic Minor
                        <a href="https://en.wikipedia.org/wiki/Minor_scale#Melodic_minor_scale" target="_default">(*)</a>
                    </th>
                    <td ng-repeat="chord in melodicMinorScale()">{{chord}}</td>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th class="border-info">Modal Substitutions
                        <a href="https://en.wikipedia.org/wiki/Mode_(music)" target="_default">(*)</a>
                    </th>
                    <th>I</th>
                    <th>II</th>
                    <th>III</th>
                    <th>IV</th>
                    <th>V</th>
                    <th>VI</th>
                    <th>VII</th>
                </tr>
                <tr>
                    <th>Ionian</th>
                    <td ng-repeat="chord in majorScale(0)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Dorian</th>
                    <td ng-repeat="chord in majorScale(1)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Phrygian</th>
                    <td ng-repeat="chord in majorScale(2)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Lydian</th>
                    <td ng-repeat="chord in majorScale(3)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Mixolydian</th>
                    <td ng-repeat="chord in majorScale(4)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Aeolian</th>
                    <td ng-repeat="chord in majorScale(5)">{{chord}}</td>
                </tr>
                <tr>
                    <th>Locrian</th>
                    <td ng-repeat="chord in majorScale(6)">{{chord}}</td>
                </tr>
            </tbody>
        </table>

        <!-- begin footer -->
        <hr/>
        <p class="text-center">
            <a href="https://twitter.com/jstrassburg" target="_blank">
                <span class="ion-social-twitter"></span>
            </a> |
            <a href="https://github.com/jstrassburg/chord-theory" target="_blank">
                <span class="ion-social-github"></span>
            </a> | &copy; 2017 JiM Strassburg
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

    <script src="app.js"></script>
</body>

</html>